@model IEnumerable<HotelInvatare.Model.CameraModel>

@{
    ViewBag.Title = "Listare";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Listare</h2>

<p>
    @Html.ActionLink("Adauga camera", "Adauga")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nr)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Tip)
        </th>
        @*<th></th>*@
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nr)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tip)
            </td>
            @*<td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>*@
        </tr>
    }

</table>
